.container {
  padding: 20px;
}

shared-footer {
  bottom: 20px;
  margin: 0 auto;
  position: absolute;
  text-align: center;
  width: 100%;
}

shared-header, courses-toolbox, course-list {
  display: block;
  margin-bottom: 20px;
}